[user]
	name = Deiwin Sarjas
	email = deiwin.sarjas@gmail.com
[push]
	default = current
[merge]
	conflictstyle = diff3
[core]
	excludesfile = /Users/deiwin/.gitignore_global
	hooksPath = /Users/deiwin/.git_hooks
